body {
    font-family: sans-serif;
	background-image: url("background.jpg"); 
    background-repeat: no-repeat;
    margin-top: 75px;
	font-color: white;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.img-rounded{
    border-radius: 50%;
	height: 200px
	width: 200px
}
